<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        <script type="text/javascript" src="/static/script.js"></script>
    </head>
    <body>
        <div style="grid-area: header"></div>
        <div style="grid-area: footer"></div>
        <div style="grid-area: left">&nbsp;</div>
        <div style="grid-area: middle">
            <div class="songbox">
            <small>Welcome, {{ user }}! Here's your song of the day...</small>
            <h2 class="songtitle">{{ random_song["name"] }}</h2>
            <h3 class="songartist">{{ random_song["artist"] }}</h3>
            <h4 class="songalbum">{{ random_song["album"] }}</h4>
            <br />
            <img src={{ random_song["image_url"] }} width="300" />
            <p class="songpreview">
                {% if random_song["preview_url"] != None %}
                <iframe src="https://open.spotify.com/embed/track/{{ random_song["track_id"] }}"" width="300" height="80"
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                {% else %}
                No preview available
                {% endif %}
            </p>
            <p class="songlyrics"><a href={{ random_song["genius_url"] }} target="_blank">Lyrics</a></p>
            <p><small><a href="./userpage">Different song, please :(</a></small></p>
        </div></div>
        <div style="grid-area: right">
            <div class="sidebar">
            <strong>Your Favorites</strong>
            {% if artist_names != [] %}
            <ul>
                {% for i in artist_names %}
                    <li>{{ i }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form method="POST" action="/songadd">
                <input type="text" name="artistname" placeholder="Artist Name" class="inp-txt"/>
                <input type="submit" value="Add Artist" class="inp-btn">
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <a href="/logout"><div class="logout">Log Out</div></a>
    </div>
    </body>
</html>