<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        <script type="text/javascript" src="/static/script.js"></script>
    </head>
    <body>
        <div class="songbox">
            <small>Welcome, {{ user }}!</small>
            <h2 class="songtitle">{{ random_song["name"] }}</h2>
            <h3 class="songartist">{{ random_song["artist"] }}</h3>
            <h4 class="songalbum">{{ random_song["album"] }}</h4>
            <br />
            <img src={{ random_song["image_url"] }} width="300" />
            <p class="songpreview">
                {% if random_song["preview_url"] != None %}
                <iframe src="https://open.spotify.com/embed/track/{{ random_song["track_id"] }}"" width="300" height="80"
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                {% else %}
                No preview available
                {% endif %}
            </p>
            <p class="songlyrics"><a href={{ random_song["genius_url"] }}>Lyrics</a></p>
            <p><small><a href=".">Different song, please :(</a></small></p>
            <form method="POST" action="/songadd">
                <input type="text" name="artistname" placeholder="Artist Name"/>
                <input type="submit" value="Add Artist">
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <p><a href="/logout">Log Out</a></p>
            <div>
                {% if artist_names != [] %}
                    {% for i in artist_names %}
                        {{ i }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </body>
</html>